@model HolidayTravelProject.Models.Sınıflar.Yorumlar

<div class="content-form">
        <h3>leave a comment</h3>
  
<form method="post">
    <input type="text" placeholder="username" name="Blogid" value="@ViewBag.deger" required />
    <input type="text" placeholder="username" name="KullaniciAdi" required />
    <input type="text" placeholder="email" name="Mail" required />
    <textarea placeholder="message" name="Yorum"></textarea>
    <input type="submit" value="send" />
</form>
   </div>
